.footer {
  position: relative;
  background-color: #d6dedb;
  height: 40px;
  bottom: 0px;
}

.image-footer {
  position: relative;
  float:right;
  right:20px;
  padding-top: 10px;
  height: 20px;

}

#copyright {
}
