.header {
  position: relative;
  background-color: #ffffff;
  height: 57px;
  margin-left: 20px;
  margin-right: 20px;
}


.image {
  position: relative;
  left: 20px;
  height: 48px;
  padding-top: 13px;
}


#VIP {
  position: relative;
  float:right;
  height: 57px;
  width: 160px;
  padding-right: 30px;
  padding-bottom: 10px;
}

/*****************************

******************************/

@media screen and (min-width: 768px) {
    #small {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    #large {
        display: none;
    }
    .menuBarButton {
        display: block !important;
        text-align: justify !important;
    }
    #login, #logout {
      float:left;
      clear:left;
    }

    .navHeaderCollapse {
      margin-top: -1px;
    }
}

/*****************************
Navbar and MateralUI CSS Edits
******************************/
.navbar {
  background-color: #353535 !important;
}

.navHeaderCollapse {
  margin-top: -1px;
}

.navbar-toggle {
  float:right !important;
}
.login {
  position: absolute;
  float:right;
  clear:right;
}
.menuBarButton {
    height: 60px !important;
}
.menuBarButton:hover{
  color: #ffc425 !important;
  background-color: #000000 !important;
}
