#Avatar {
   float:right;
   height:60px;
}

#photo {
  height:40px; 
  width:40px; 
  margin-right:10px;
  margin-top:10px;
  border-radius: 20px;
  display:inline-block
}

#displayName {
  color:#f9f9f9; 
  font-size:17px; 
  vertical-align: -8px;
  margin-right:20px; 
  display:inline-block;
}

@media screen and (max-width: 767px) {
  .clearfix {
    width: 100%;
    text-align: center;
  }
  #displayName {
    display:none;
  }
  #photo {
    margin-left: 8px;
  }
}